{{> header}}

        <!-- MIDDLE COLUMN POSTS -->

        <div class='col-sm-6'>
          <div class='panel panel-default panel-posts'>

            {{#if IsHashtag}}
            <div class='panel-body'>
              <div class='caption'>
                Viewing Tag <strong>#{{Prefix}}</strong>. <a href='/'>Click here</a> for all posts.
              </div>
            </div>
            {{else}}
            {{#unless IsLastPage}}
            <div class='panel-body'>
              <div class='caption'>
                You are viewing archived posts. <a href='{{Prefix}}.html'>Click here</a> for the latest.
              </div>
            </div>
            {{/unless}}
            {{/if}}

            {{#each Posts}}
            {{#if HasImage}}
            <div class='post-media'>
              <a href='post-{{Id}}.html' style="background-image: url('{{Image.Content}}');">Preview</a>
            </div>
            {{/if}}
            <div class='panel-body'>
              <div class='media'>
                <a class='media-left'><img class='media-object img-rounded avatar' src='assets/img/avatar48.png'></a>
                <div class='media-body'>
                  <h4 class='media-heading'>{{{UserName}}} <date>{{tz_created}}</date></h4>
                  {{#if HasTweet}}
                  <blockquote>{{{Tweet.Content}}}</blockquote>
                  {{/if}}
                  <p>{{{Content}}}</p>
                  <div class='pull-left meta-link'>
                    <a href='post-{{Id}}.html'>
                      <span class='glyphicon glyphicon-link'></span>
                      permalink
                    </a>
                  </div>
                  {{#if HasImage}}
                  <div class='pull-left meta-link'>
                    <a href='{{Image.Url}}'>
                      <span class='glyphicon glyphicon-paperclip'></span>
                      image
                    </a>
                  </div>
                  {{/if}}
                  <div class='pull-left meta-link'>
                    <span>
                      <span class='glyphicon glyphicon-pushpin'></span>
                      via {{Source}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

            {{#if HasPages}}
            <div class='panel-body'>
              {{#unless IsFirstPage}}
              <div class='pull-left postnav'>
                <span class='glyphicon glyphicon-menu-left'></span>
                <a href='{{PrevPage}}'>Older Posts</a>
              </div>
              {{/unless}}
              {{#unless IsLastPage}}
              <div class='pull-right postnav'>
                <a href='{{NextPage}}'>Newer Posts</a>
                <span class='glyphicon glyphicon-menu-right'></span>
              </div>
              {{/unless}}
            </div>
            {{/if}}

          </div>
        </div>

{{> footer}}
