<!doctype html>
<html lang='en'>
  <head>
    <title>{{{SiteName}}}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='shortcut icon' href='assets/img/favicon.png' type='image/png'>
    <meta property='og:title' content="{{{SiteName}}}">
    <meta property='og:description' content="{{{SiteDescription}}}">
    <meta property='og:image' content='{{SiteUrl}}/assets/img/avatar500.png'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css'>
    <link rel='stylesheet' href='assets/style.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class='navbar navbar-default navbar-static-top'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'><span class='glyphicon glyphicon-edit'></span> {{{SiteName}}}</a>
        </div>
      </div>
    </div>
    <div class='banner'>
      <img class='hidden-xs img-responsive' src='assets/img/banner.jpg'>
    </div>
    <div class='container'>
      <div class='row'>

        <!-- LEFT COLUMN AVATAR/ABOUT -->

        <div class='col-sm-3'>
          <div class='panel panel-default'>
            <div class='panel-body'>
              <a href='/'><img class='img-responsive img-rounded' src='assets/img/avatar500.png'></a>
              <div class='pull-left stats'>
                <h5>
                  <small>POSTS</small><br>
                  <span>{{TotalPostsFormatted}}</span>
                </h5>
              </div>
              <div class='pull-left stats'>
                <h5>
                  <small>CREATED</small><br>
                  <span>{{{SiteCreated}}}</span>
                </h5>
              </div>
              <div class='pull-left stats'>
                <h5>
                  <small>POWERED BY</small><br>
                  <a href='https://github.com/rudism/asublog'>as&micro;Blog</a>
                </h5>
              </div>
            </div>
          </div>

          <div class='panel panel-default panel-about'>
            <div class='panel-heading'>
              <h3 class='panel-title'>
                {{{UserName}}}
                <span class='verified glyphicon glyphicon-ok-sign'></span>
              </h3>
            </div>
            <div class='panel-body'>
              <p>{{{SiteDescription}}}</p>
              <ul class='list-unstyled'>
                <li><span class='glyphicon glyphicon-map-marker'></span> {{{Location}}}</li>
                <li><span class='glyphicon glyphicon-link'></span> <a href='{{{UserLinkUrl}}}'>{{{UserLinkName}}}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- MIDDLE COLUMN POSTS -->

        <div class='col-sm-6'>
          <div class='panel panel-default panel-posts'>

            {{#if IsHashtag}}
            <div class='panel-body'>
              <div class='caption'>
                Viewing Tag <strong>#{{Prefix}}</strong>. <a href='/'>Click here</a> for all posts.
              </div>
            </div>
            {{else}}
            {{#unless IsLastPage}}
            <div class='panel-body'>
              <div class='caption'>
                You are viewing archived posts. <a href='{{Prefix}}.html'>Click here</a> for the latest.
              </div>
            </div>
            {{/unless}}
            {{/if}}

            {{#each Posts}}
            {{#if HasImage}}
            <div class='post-media'>
              <a href='post-{{Id}}.html'>
                <img class='img-responsive' onerror='$(this).parent().parent().hide()' src='{{Image.Content}}'>
              </a>
            </div>
            {{/if}}
            <div class='panel-body'>
              <div class='media'>
                <a class='media-left avatar'><img class='media-object img-rounded' src='assets/img/avatar48.png'></a>
                <div class='media-body'>
                  <h4 class='media-heading'>{{{UserName}}} <date>{{tz_created}}</date></h4>
                  {{#if HasTweet}}
                  <blockquote>{{{Tweet.Content}}}</blockquote>
                  {{/if}}
                  <p>{{{Content}}}</p>
                  <div class='pull-left meta-link'>
                    <a href='post-{{Id}}.html'>
                      <span class='glyphicon glyphicon-link'></span>
                      permalink
                    </a>
                  </div>
                  {{#if HasImage}}
                  <div class='pull-left meta-link'>
                    <a href='{{Image.Url}}'>
                      <span class='glyphicon glyphicon-paperclip'></span>
                      image
                    </a>
                  </div>
                  {{/if}}
                  <div class='pull-left meta-link'>
                    <span>
                      <span class='glyphicon glyphicon-pushpin'></span>
                      via {{Source}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

            {{#if HasPages}}
            <div class='panel-body'>
              {{#unless IsFirstPage}}
              <div class='pull-left postnav'>
                <span class='glyphicon glyphicon-menu-left'></span>
                <a href='{{PrevPage}}'>Older Posts</a>
              </div>
              {{/unless}}
              {{#unless IsLastPage}}
              <div class='pull-right postnav'>
                <a href='{{NextPage}}'>Newer Posts</a>
                <span class='glyphicon glyphicon-menu-right'></span>
              </div>
              {{/unless}}
            </div>
            {{/if}}

          </div>
        </div>

        <!-- RIGHT COLUMN LINKS/TRENDS -->

        <div class='col-sm-3'>
          <div class='panel panel-default panel-custom'>
            <div class='panel-heading'>
              <h3 class='panel-title'>You may also like</h3>
            </div>
            <div class='panel-body'>
              <ul class='list-unstyled'>
                <li><span class='glyphicon glyphicon-link'></span> <a href='https://codeword.xyz/'>The Code Word</a></li>
                <li><span class='glyphicon glyphicon-link'></span> <a href='https://norfolkwinters.com/'>Norfolk Winters</a></li>
                <li><span class='glyphicon glyphicon-link'></span> <a href='https://clicksnshares.com/'>Clicks'n'Shares</a></li>
              </ul>
            </div>
          </div>

          {{#if HasHashtags}}
          <div class='panel panel-default panel-custom'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Recent Tags</h3>
            </div>
            <div class='panel-body'>
              <ul class='list-unstyled'>
                {{#each RecentTags}}
                <li><span class='glyphicon glyphicon-tag'></span> <a href='{{this}}.html'>{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>

          <div class='panel panel-default panel-custom'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Popular Tags</h3>
            </div>
            <div class='panel-body'>
              <ul class='list-unstyled'>
                {{#each PopularTags}}
                <li><span class='glyphicon glyphicon-tag'></span> <a href='{{this}}.html'>{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{/if}}

          <div class='panel panel-default panel-copyright'>
            <div class='panel-body'>
              <small>All content is copyright &copy; 2017 by as&micro;Blog. All rights reserved.</small>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
